<h1>Редактировать список пива</h1>

<p>На этой странице можно редактировать сорта пива, а также добавлять новые сорта.</p>

<p *ngIf="!elements">
    <em>Loading...</em>
</p>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<div class="dropdown" *ngIf="breweries">
    <button class="btn btn-default dropdown-toggle" type="button" id="breweryChooser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Пивоварня: <span *ngIf="brewery">{{brewery.name}}</span><span *ngIf="!brewery">все</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="breweryChooser">
        <li><a (click)="setBrewery('')">*</a></li>
        <li *ngFor="let brewery of breweries"><a (click)="setBrewery(brewery.name)">{{ brewery.name }}</a></li>
    </ul>
</div>

<table class='table table-striped table-condensed' *ngIf="elements">
    <thead>
    <tr>
        <th class="col-xs-1">Служебный Id</th>
        <th class="col-xs-2">Название</th>
        <th class="col-xs-2">Производитель</th>
        <th class="col-xs-3">Описание</th>
        <th class="col-xs-1">Алкоголь, &deg;</th>
        <th class="col-xs-1">Плотность, %</th>
        <th class="col-xs-1">Горькость, IBU</th>
        <th class="col-xs-1">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beer of elements">
        <td>{{ beer.id }}</td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.name }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                    <input type="text" class="form-control col-md-2" id="name"
                           required
                           [(ngModel)]="editing.name" name="name">
                </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.brewery.name }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <select class="form-control" [(ngModel)]="editing.brewery.id" (change)="onEditChangeBrewery($event.target.value)">
                    <option *ngFor="let brewery of breweries" [value]="brewery.id">{{brewery.name}}</option>
                </select>
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.description }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <textarea class="form-control" id="editing.description"
                          required
                          [(ngModel)]="editing.description" name="description"></textarea>
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                {{ beer.alcohol }}
            </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <input type="number" class="form-control col-xs-1" id="alcohol"
                       required
                       [(ngModel)]="editing.alcohol" name="alcohol">
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                {{ beer.gravity }}
            </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <input type="number" class="form-control col-xs-1" id="gravity"                      
                       [(ngModel)]="editing.gravity" name="gravity">
            </span>
        </td>        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                {{ beer.ibu }}
            </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <input type="number" class="form-control col-xs-1" id="ibu"                       
                       [(ngModel)]="editing.ibu" name="ibu">
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                <button (click)="edit(beer.id)" type="button" class="btn btn-default" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <button (click)="save()" type="button" class="btn btn-primary" aria-label="Save">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </td>
    </tr>
    <tr *ngIf="adding">
        <td>
            <input type="text" class="form-control" id="adding.id"
                   required
                   [(ngModel)]="adding.id" name="id">
        </td>
        <td>
            <input type="text" class="form-control" id="adding.name"
                   required
                   [(ngModel)]="adding.name" name="name">
        </td>
        <td>
            <select class="form-control" [(ngModel)]="adding.brewery.id" (change)="onAddChangeBrewery($event.target.value)">
                <option *ngFor="let brewery of breweries" [value]="brewery.id">{{brewery.name}}</option>
            </select>
        </td>
        <td>
            <textarea class="form-control" id="adding.description"
                      required
                      [(ngModel)]="adding.description" name="description"></textarea>
        </td>
        <td>
                <input type="number" class="form-control col-xs-1" id="adding.alcohol"                       
                       [(ngModel)]="adding.alcohol" name="adding.alcohol">
        </td>
        <td>
                <input type="number" class="form-control col-xs-1" id="adding.gravity"                      
                       [(ngModel)]="adding.gravity" name="adding.gravity">
        </td>
        <td>
                <input type="number" class="form-control col-xs-1" id="adding.ibu"
                       required
                       [(ngModel)]="adding.ibu" name="adding.ibu">
        </td>
        <td>
            <button (click)="add()" type="button" class="btn btn-primary" aria-label="Add">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            </button>
            <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<button (click)="startAdd()" type="button" class="btn btn-default" aria-label="Add">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>