<h1>Редактировать список пива</h1>

<p>На этой странице можно редактировать сорта пива, а также добавлять новые сорта.</p>

<div *ngIf="!elements">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>
</div>
<alert type="danger" dismissible="true" *ngIf="errorMessage">
    {{errorMessage}}
</alert>

<div class="dropdown" *ngIf="breweries">
    <button class="btn btn-default dropdown-toggle" type="button" id="breweryChooser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Пивоварня: <span *ngIf="brewery">{{brewery.name}}</span><span *ngIf="!brewery">все</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="breweryChooser">
        <li><a (click)="setBrewery('')">*</a></li>
        <li *ngFor="let brewery of selectingBreweries"><a (click)="setBrewery(brewery.value)">{{ brewery.label }}</a></li>
    </ul>
</div>

<div class="container-fluid" *ngIf="elements">
    <div class="row">
        <div class="col-md-2"><h4><strong>Название</strong></h4></div>
        <div class="col-md-2"><h4><strong>Производитель</strong></h4></div>
        <div class="col-md-2"><h4><strong>Стиль</strong></h4></div>
        <div class="col-md-3"><h4><strong>Описание</strong></h4></div>
        <div class="col-md-1"><h4><strong>ABV, &deg;</strong></h4></div>
        <div class="col-md-1"><h4><strong>OG, %</strong></h4></div>
        <div class="col-md-1"><h4><strong>IBU</strong></h4></div>
    </div>
    <div class="row-wrapper" *ngFor="let beer of elements">
        <div class="row" *ngIf="!editing || (editing.id != beer.id)" (click)="edit(beer.id)">
            <div class="col-md-2" title="{{beer.id}}">{{ beer.name }}</div>
            <div class="col-md-2">{{ beer.brewery.name }}</div>
            <div class="col-md-2">{{ styles[beer.bjcpStyle] }}</div>
            <div class="col-md-3" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ beer.description }}</div>
            <div class="col-md-1">{{ beer.alcohol }}</div>
            <div class="col-md-1">{{ beer.gravity }}</div>
            <div class="col-md-1">{{ beer.ibu }}</div>
        </div>
        <div *ngIf="editing && (editing.id == beer.id)">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="editing.name"
                           required
                           [(ngModel)]="editing.name" name="name">
                </div>
                <div class="col-md-3">
                    <ng-select [options]="selectingBreweries"
                               [multiple]="false"
                               [(ngModel)]="editing.brewery.id">
                    </ng-select>
                </div>
                <div class="col-md-3">
                    <ng-select [options]="selectingStyles"
                               [multiple]="false"
                               [(ngModel)]="editing.bjcpStyle">
                    </ng-select>
                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control col-xs-1" id="editing.alcohol"
                           required
                           [(ngModel)]="editing.alcohol" name="alcohol">
                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control col-xs-1" id="editing.gravity"
                           [(ngModel)]="editing.gravity" name="gravity">

                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control col-xs-1" id="editing.ibu"
                           [(ngModel)]="editing.ibu" name="ibu">
                </div>
            </div>
            <div class="row edit2">
                <div class="col-md-6">
                    <textarea class="form-control" id="editing.description"
                              required
                              [(ngModel)]="editing.description" name="description"></textarea>

                </div>
                <div class="col-md-4">
                    <div class="pull-left" style="margin-right: 20px;">
                        <cl-image public-id="{{editing.image}}" cloud-name="ontap-in-ua" height="20" dpr="auto" format="png" quality="100" alt="Sample image" title="Sample image title"></cl-image>
                    </div>
                    <input type="file" ng2FileSelect [uploader]="uploaders[0]" />
                </div>
                <div class="col-md-2">
                    <button (click)="save()" type="button" class="btn btn-primary" aria-label="Save">
                        <span class="fa fa-floppy-o fa-lg" aria-hidden="true" *ngIf="!isSaving(editing.id)"></span>
                        <span class="fa fa-spinner fa-pulse" aria-hidden="true" *ngIf="isSaving(editing.id)"></span>    
                    </button>
                    <button (click)="delete()" type="button" class="btn btn-default" aria-label="Delete">
                        <span class="fa fa-trash-o fa-lg" aria-hidden="true" *ngIf="!isDeleting(editing.id)"></span>
                        <span class="fa fa-spinner fa-pulse" aria-hidden="true" *ngIf="isDeleting(editing.id)"></span>  
                    </button>
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                        <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-wrapper" *ngIf="adding">
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" id="adding.name"
                       required
                       [(ngModel)]="adding.name" name="name">
            </div>
            <div class="col-md-3">
                <ng-select [options]="selectingBreweries"
                           [multiple]="false"
                           [(ngModel)]="adding.brewery.id">
                </ng-select>
            </div>
            <div class="col-md-3">
                <ng-select [options]="selectingStyles"
                           [multiple]="false"
                           [(ngModel)]="adding.bjcpStyle">
                </ng-select>
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control col-xs-1" id="adding.alcohol"
                       required
                       [(ngModel)]="adding.alcohol" name="alcohol">
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control col-xs-1" id="adding.gravity"
                       [(ngModel)]="adding.gravity" name="gravity">

            </div>
            <div class="col-md-1">
                <input type="number" class="form-control col-xs-1" id="adding.ibu"
                       [(ngModel)]="adding.ibu" name="ibu">
            </div>
        </div>
        <div class="row edit2">
            <div class="col-md-6">
                <textarea class="form-control" id="adding.description"
                          required
                          [(ngModel)]="adding.description" name="description"></textarea>

            </div>
            <div class="col-md-4">
                <div class="pull-left" style="margin-right: 20px;" *ngIf="adding.image">
                    <cl-image public-id="{{adding.image}}" cloud-name="ontap-in-ua" height="20" dpr="auto" format="png" quality="100" alt="Sample image" title="Sample image title"></cl-image>
                </div>
                <input type="file" ng2FileSelect [uploader]="uploaders[0]" />
            </div>
            <div class="col-md-2">
                <button (click)="add()" type="button" class="btn btn-primary" aria-label="Add">
                    <span class="fa fa-floppy-o fa-lg" aria-hidden="true" *ngIf="!isAdding(adding.id)"></span>
                    <span class="fa fa-spinner fa-pulse" aria-hidden="true" *ngIf="isAdding(adding.id)"></span>
                </button>
                <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                    <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<button (click)="startAdd()" type="button" class="btn btn-default" aria-label="Add">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>