<h1>Редактировать цены на пиво в пабах</h1>

<p>На этой странице можно редактировать цены на пиво в пабах, а также добавлять новые.</p>

<p *ngIf="!elements">
    <em>Loading...</em>
</p>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<div class="dropdown" *ngIf="pubs">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Паб<span *ngIf="pub">: {{pub.name}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="setPub('')">*</a></li>
        <li *ngFor="let pub of pubs"><a (click)="setPub(pub.name)">{{ pub.name }}</a></li>
    </ul>
</div>

<table class='table' *ngIf="elements">
    <thead>
        <tr>
            <th class="col-xs-3">Паб</th>
            <th class="col-xs-1">Кран</th>
            <th class="col-xs-5">Пиво</th>
            <th class="col-xs-1">Цена</th>
            <th class="col-xs-3">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let serve of elements">
            <td>
                <span *ngIf="!editing || (editing.id != serve.id)">
                    {{ serve.servedIn.name }}
                </span>
                <span *ngIf="editing && (editing.id == serve.id)">
                    <select class="form-control" [(ngModel)]="editing.servedIn.id" (change)="onEditChangePub($event.target.value)">
                        <option *ngFor="let pub of pubs" [value]="pub.id">{{pub.name}}</option>
                    </select>
                </span>
            </td>
            <td>
                <span *ngIf="!editing || (editing.id != serve.id)">
                    {{ serve.tap }}
                </span>
                <span *ngIf="editing && (editing.id == serve.id)">
                    <input type="number" class="form-control" id="editing.tap"
                           required
                           [(ngModel)]="editing.tap" name="tap">
                </span>
            </td>
            <td>
                <span *ngIf="!editing || (editing.id != serve.id)">
                    {{ serve.served.name }}
                </span>
                <span *ngIf="editing && (editing.id == serve.id)">
                    <select class="form-control" [(ngModel)]="editing.served.id" (change)="onEditChangeBeer($event.target.value)">
                        <option *ngFor="let beer of beers" [value]="beer.id">{{beer.name}}</option>
                    </select>
                </span>
            </td>
            <td>
                <span *ngIf="!editing || (editing.id != serve.id)">
                    {{ serve.price }}
                </span>
                <span *ngIf="editing && (editing.id == serve.id)">
                    <input type="number" class="form-control" id="editing.price"
                           required
                           [(ngModel)]="editing.price" name="price">
                </span>
            </td>
            <td>
                <span *ngIf="!editing || (editing.id != serve.id)">
                    <button (click)="edit(serve.id)" type="button" class="btn btn-default" aria-label="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </span>
                <span *ngIf="editing && (editing.id == serve.id)">
                    <button (click)="save()" type="button" class="btn btn-primary" aria-label="Save">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                    <button (click)="delete()" type="button" class="btn btn-default" aria-label="Cancel">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </span>
            </td>
        </tr>
        <tr *ngIf="adding">
            <td>
                <select class="form-control" [(ngModel)]="adding.servedIn.id" (change)="onAddChangePub($event.target.value)">
                    <option *ngFor="let pub of pubs" [value]="pub.id">{{pub.name}}</option>
                </select>
            </td>
            <td>
                <input type="number" class="form-control" id="adding.tap"
                       required
                       [(ngModel)]="adding.tap" name="tap">
            </td>
            <td>
                <select class="form-control" [(ngModel)]="adding.served.id" (change)="onAddChangeBeer($event.target.value)">
                    <option *ngFor="let beer of beers" [value]="beer.id">{{beer.name}}</option>
                </select>
            </td>
            <td>
                <input type="number" class="form-control" id="adding.price"
                       required
                       [(ngModel)]="adding.price" name="price">
            </td>
            <td>
                <button (click)="add()" type="button" class="btn btn-primary" aria-label="Add">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button (click)="startAdd()" type="button" class="btn btn-default" aria-label="Add">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>