<h1>Список пив</h1>

<p>Пиво</p>

<p *ngIf="!beers">
    <em>Loading...</em>
</p>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<table class='table' *ngIf="beers">
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Производитель</th>
        <th>Описание</th>
        <th>*</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beer of beers">
        <td>{{ beer.id }}</td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.name }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                    <input type="text" class="form-control" id="name"
                           required
                           [(ngModel)]="editing.name" name="name">
                </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.brewery }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <input type="text" class="form-control" id="brewery"
                       required
                       [(ngModel)]="editing.brewery" name="name">
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    {{ beer.description }}
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                <textarea class="form-control" id="editing.description"
                          required
                          [(ngModel)]="editing.description" name="description"></textarea>
            </span>
        </td>
        <td>
            <span *ngIf="!editing || (editing.id != beer.id)">
                    <button (click)="editCity(beer.id)">Edit</button>
                </span>
            <span *ngIf="editing && (editing.id == beer.id)">
                    <button (click)="saveCity()">Save</button>
                    <button (click)="cancelEdit()">Cancel</button>
                </span>
        </td>
    </tr>
    <tr *ngIf="adding">
        <td>
            <input type="text" class="form-control" id="adding.id"
                   required
                   [(ngModel)]="adding.id" name="id">
        </td>
        <td>
            <input type="text" class="form-control" id="adding.name"
                   required
                   [(ngModel)]="adding.name" name="name">
        </td>
        <td>
                <input type="text" class="form-control" id="adding.brewery"
                       required
                       [(ngModel)]="adding.brewery" name="name">
        </td>
        <td>
                <textarea class="form-control" id="adding.description"
                          required
                          [(ngModel)]="adding.description" name="description"></textarea>
        </td>
        <td>
            <button (click)="addBeer()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>
<button (click)="startAdd()">+</button>