<h1>Что на кранах?</h1>
<p>На нашем сайте вы можете узнать, какое пиво сейчас продаётся в пабах по всей территории Украины.</p>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Для продолжения пожалуйста подтвердите, что вам исполнилось 18 лет:</h3>
    </div>
    <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-default" [routerLink]="['/pubs']" role="button">Да, мне исполнилось 18 лет.</a>
            <a class="btn btn-danger" href="http://prom.ua/Podemnyj-kran-igrushki.html" role="button">Нет, я моложе 18 лет.</a>
        </div>
    </div>
</div>