<h1>Редактировать список пивоварен</h1>

<p>На этой странице можно редактировать пивоварни, а также добавлять новые.</p>

<div *ngIf="!elements">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<div class="container-fluid" *ngIf="elements">
    <div class="row">
        <div class="col-md-3"><h4><strong>Название</strong></h4></div>
        <div class="col-md-2"><h4><strong>Страна</strong></h4></div>
        <div class="col-md-5"><h4><strong>Адрес</strong></h4></div>
        <div class="col-md-2"><h4><strong>Действия</strong></h4></div>
    </div>
    <div class="row-wrapper" *ngFor="let brewery of elements">
        <div class="row" *ngIf="!editing || (editing.id != brewery.id)">
            <div class="col-md-3" title="{{brewery.id}}">{{ brewery.name }}</div>
            <div class="col-md-2">{{ brewery.country.name }}</div>
            <div class="col-md-5">{{ brewery.address }}</div>
            <div class="col-md-2">
                <button (click)="edit(brewery.id)" type="button" class="btn btn-default" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <span class="badge" *ngIf="breweryCounts[brewery.id]">{{ breweryCounts[brewery.id] }} <i class="fa fa-beer" aria-hidden="true"></i></span>
            </div>
        </div>
        <div *ngIf="editing && (editing.id == brewery.id)">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="editing.name"
                           required
                           [(ngModel)]="editing.name" name="name">
                </div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="editing.country.id" (change)="onEditChangeCountry($event.target.value)">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="editing.address"
                           required
                           [(ngModel)]="editing.address" name="address">
                </div>
                <div class="col-md-2">
                    <button (click)="save()" type="button" class="btn btn-primary" aria-label="Save">
                        <span class="fa fa-floppy-o fa-lg" aria-hidden="true" *ngIf="!isSaving(editing.id)"></span>
                        <span class="fa fa-spinner fa-pulse" aria-hidden="true" *ngIf="isSaving(editing.id)"></span>
                    </button>
                    <button (click)="startDelete()" type="button" class="btn btn-default" aria-label="Delete">
                        <span class="fa fa-trash-o fa-lg" aria-hidden="true" *ngIf="!isDeleting(editing.id)"></span>
                        <span class="fa fa-spinner fa-pulse" aria-hidden="true" *ngIf="isDeleting(editing.id)"></span>
                    </button>
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                        <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row edit2">
                <div class="col-md-1">
                    <cl-image public-id="{{editing.image}}" cloud-name="ontap-in-ua" height="20" dpr="auto" format="png" quality="100" alt="Sample image" title="Sample image title"></cl-image>
                </div>
                <div class="col-md-4">
                    <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>
                <div class="col-md-7"></div>
            </div>
        </div>
    </div>
    <div class="row-wrapper" *ngIf="adding">
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" id="adding.name"
                       required
                       [(ngModel)]="adding.name" name="name">
            </div>
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="adding.country.id" (change)="onAddChangeCountry($event.target.value)">
                    <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                </select>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="adding.address"
                       required
                       [(ngModel)]="adding.address" name="address">
            </div>
            <div class="col-md-2">
                <button (click)="add()" type="button" class="btn btn-primary" aria-label="Add">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                <button (click)="cancelEdit()" type="button" class="btn btn-default" aria-label="Cancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="row edit2">
            <div class="col-md-1">
                <cl-image public-id="{{adding.image}}" cloud-name="ontap-in-ua" height="20" dpr="auto" format="png" quality="100" alt="Sample image" title="Sample image title"></cl-image>
            </div>
            <div class="col-md-4">
                <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>

<button (click)="startAdd()" type="button" class="btn btn-default" aria-label="Add">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>