<div class='main-nav'>
        <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">На кранах</a>			
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/pubs']">
                        <span class='glyphicon glyphicon-question-sign'></span> Что на кранах
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/cities']">
                        <span class='glyphicon glyphicon-flag'></span> Города
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/beers']">
                        <span class='glyphicon glyphicon-glass'></span> Пиво
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/epubs']">
                        <span class='glyphicon glyphicon-home'></span> Пабы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/serves']">
                        <span class='glyphicon glyphicon-euro'></span> Цены
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/breweries']">
                        <span class='glyphicon glyphicon-star'></span> Пивоварни
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-user'></span> Пользователи
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
