<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/pubs']">{{"MENU.HOME" | translate:lang }}<!--На кранах--></a>
            <locale></locale>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/pubs']">
                        <span class='glyphicon glyphicon-question-sign'></span>
                        {{"MENU.ONTAP" | translate:lang }}<!--Що на кранах-->
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && loginService.currentUser.isAdmin">
                    <a [routerLink]="['/cities']">
                        <span class='glyphicon glyphicon-flag'></span> Города
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub || loginService.currentUser.canAdminBrewery)">
                    <a [routerLink]="['/beers']">
                        <span class='glyphicon glyphicon-glass'></span> Пиво
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub)">
                    <a [routerLink]="['/epubs']">
                        <span class='glyphicon glyphicon-home'></span> Пабы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub)">
                    <a [routerLink]="['/prices']">
                        <span class='fa fa-eur fa-fw'></span>&nbsp; Цены
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub)">
                    <a [routerLink]="['/taps']">
                        <span class='fa fa-level-down fa-fw'></span>&nbsp; Краны
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub || loginService.currentUser.canAdminBrewery)">
                    <a [routerLink]="['/kegs']">
                        <span class='fa fa-cubes fa-fw'></span>&nbsp; Кеги
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub || loginService.currentUser.canAdminBrewery)">
                    <a [routerLink]="['/beerkegs']">
                        <span class='fa fa-battery fa-fw'></span>&nbsp; Пиво в кегах
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub)">
                    <a [routerLink]="['/beerkegsontap']">
                        <span class='fa fa-podcast fa-fw'></span>&nbsp; Кеги на кранах
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminPub)">
                    <a [routerLink]="['/beerkegweights']">
                        <span class='fa fa-balance-scale fa-fw'></span>&nbsp; Веса кег
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && (loginService.currentUser.isAdmin || loginService.currentUser.canAdminBrewery)">
                    <a [routerLink]="['/breweries']">
                        <span class='glyphicon glyphicon-star'></span> Пивоварни
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && loginService.currentUser.isAdmin">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-user'></span> Пользователи
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && loginService.currentUser.isAdmin">
                    <a [routerLink]="['/pub-admins']">
                        <span class='glyphicon glyphicon-user'></span> Админы пабов
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.currentUser && loginService.currentUser.isAdmin">
                    <a [routerLink]="['/brewery-admins']">
                        <span class='glyphicon glyphicon-user'></span> Админы пивоварен
                    </a>
                </li>
            </ul>
        </div>
        <log-in></log-in>
        <div class="center-block text-center copyright">
            <i class="fa fa-copyright"></i> 2016-2017 ontap.in.ua&nbsp;
            <a href="https://fb.me/ontap.in.ua"><i class="fa fa-facebook-square"></i></a>
        </div>
    </div>
</div>
