<h1>Пабы и рестораны Украины</h1>

<p>Пабы с крафтовым пивом</p>

<p *ngIf="!elements"><em>Loading...</em>
</p>


<div class="dropdown"  *ngIf="cities">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Город: <span *ngIf="city">{{city.name}}</span><span *ngIf="!city">все</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="setCity('')">*</a></li>
        <li *ngFor="let city of cities"><a (click)="setCity(city.name)">{{ city.name }}</a></li>
    </ul>
</div>

<template #toolTipTemplate let-model="model">
    <p>{{model.beer.description}}</p>
    <p>
        Характеристики:
        <strong>{{model.beer.alcohol}}</strong>&deg;
        <span *ngIf="model.beer.gravity > 0">
            <strong>{{model.beer.gravity}}</strong>%
        </span>
        <strong>{{model.beer.ibu}}</strong>&nbsp;IBU
    </p>
</template>

<div *ngIf="elements" style="margin-top: 20px;">
    <div *ngFor="let pub of elements">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ pub.name }} <span class="label label-success">{{ pub.city.name }}</span> <small>{{ pub.address }}</small></h3>
            </div>
            <div class="panel-body">
                <button *ngFor="let serve of pub.serves" class="btn btn-primary btn-s red-tooltip" role="button"
                        [tooltipHtml]="toolTipTemplate" tooltipPlacement="left" [tooltipContext]="serve">
                    {{ serve.beer.name }} <span class="label label-info">{{ serve.beer.brewery.name }}</span> <span class="badge">{{ serve.price | number:'2.2-2' }} ₴</span>
                </button>
            </div>
        </div>
    </div>
</div>
