<h1>
    {{'PUBS.TITLE' | translate:lang}}<!--Крафтові паби України-->
</h1>

<p>
    {{'PUBS.DESCRIPTION' | translate:lang}}<!--На цей сторінці ви можете знайти список усіх крафтових пабів в Україні-->
</p>

<div *ngIf="!elements">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" 
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">            
        </div>
    </div>
</div>


<div class="dropdown"  *ngIf="cities">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{'G.CITY' | translate:lang}}<!--Місто-->: <span *ngIf="city">{{city.name}}</span><span *ngIf="!city">{{'G.ALL' | translate:lang}}<!--усі--></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="setCity('')">*</a></li>
        <li *ngFor="let city of cities"><a (click)="setCity(city.name)">{{ city.name }}</a></li>
    </ul>
</div>

<template #toolTipTemplate let-model="model">
    <div class="pull-left pub-image" *ngIf="model.served.brewery.image">
        <cl-image public-id="{{model.served.brewery.image}}" [options]="cloudinaryOptions" crop="scale" height="100" dpr="auto"
                  format="png" quality="100" alt="{{model.served.brewery.name}} logo" title="{{model.served.brewery.name}}"></cl-image>
    </div>    
    <div>
        <p>{{model.served.description}}</p>
        <p>
            <strong>{{model.served.alcohol}}</strong>&deg;
            <span *ngIf="model.served.gravity > 0">
            <strong>{{model.served.gravity}}</strong>%
        </span>
            <strong>{{model.served.ibu}}</strong>&nbsp;IBU
            <strong>{{model.volume}}</strong>&nbsp;л
        </p>
    </div>
</template>

<div *ngIf="elements" style="margin-top: 20px;">
    <div *ngFor="let pub of elements">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ pub.name }} 
                    <span class="label label-success">{{ pub.city.name }}</span>
                    <small>{{ pub.address }}</small>
                    <a *ngIf="pub.facebookUrl" [href]="pub.facebookUrl" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a *ngIf="pub.vkontakteUrl" [href]="pub.vkontakteUrl" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a *ngIf="pub.websiteUrl" [href]="pub.websiteUrl" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <a *ngIf="pub.bookingUrl" [href]="pub.bookingUrl" target="_blank"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <span class="pull-right" *ngIf="pubUpdates[pub.id]"><small><i class="glyphicon glyphicon-calendar"></i> {{pubUpdates[pub.id]}}</small></span>
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="pull-left pub-image" *ngIf="pub.image">
                        <cl-image public-id="{{pub.image}}" [options]="cloudinaryOptions" height="100" dpr="auto" crop="scale" 
                                  format="png" quality="100" alt="{{pub.name}} logo" title="{{pub.name}}"></cl-image>
                    </div>
                    <div>
                        <button *ngFor="let serve of pub.serves | sortByTap" class="btn btn-s red-tooltip"
                                [ngClass]="serve.served.brewery.country.id=='UA'?'btn-primary':'btn-primary'" role="button"
                                [tooltipHtml]="toolTipTemplate" tooltipPlacement="left" [tooltipContext]="serve">
                            <span class="badge">{{ serve.tap }}</span>
                            {{ serve.served.name }}
                            <span class="label" [ngClass]="serve.served.brewery.country.id=='UA'?'label-info':'label-success'" >{{ serve.served.brewery.name }}</span>
                            <span class="badge">{{ serve.price | number:'2.2-2' }} ₴</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
