<h1>Пабы и рестораны Украины</h1>

<p>Пабы с крафтовым пивом</p>

<p *ngIf="!elements"><em>Loading...</em>
</p>


<div class="dropdown"  *ngIf="cities">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Город<span *ngIf="city">: {{city.name}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="setCity('')">*</a></li>
        <li *ngFor="let city of cities"><a (click)="setCity(city.name)">{{ city.name }}</a></li>
    </ul>
</div>

<table class='table' *ngIf="elements">
    <thead>
        <tr>
            <th>Город</th>
            <th>Паб</th>
            <th>На кранах</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pub of elements">
            <td>{{ pub.city.name }}</td>
            <td>{{ pub.name }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button *ngFor="let serve of pub.serves" class="btn btn-primary btn-s" role="button" data-toggle="tooltip" data-placement="left" title="{{serve.beer.description}}
Характеристики: {{serve.beer.alcohol}}&deg; {{serve.beer.gravity}}% {{serve.beer.ibu}} IBU">
                         {{ serve.beer.name }} {{ serve.price | number:'2.2-2' }} ₴
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
