<div class='login'>
    <span *ngIf="!user">
        <input type="text" class="form-control input-sm" [(ngModel)]="userLogin" id="login" placeholder="Login">
        <div class="input-group">
            <input type="password" class="form-control input-sm" [(ngModel)]="userPassword" id="password" placeholder="Password">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" (click)="login()"><i class="glyphicon glyphicon-log-in"></i></button>
            </span>
        </div><!-- /input-group -->
    </span>
    <span *ngIf="user" class="logged-in">
        <i class="glyphicon glyphicon-user"></i> Привет, {{user.name}}! 
        <button class="btn btn-primary btn-xs" type="button" (click)="logout()"><i class="glyphicon glyphicon-log-out"></i></button>
    </span>
</div>
        
